@import "../../assets/styles/variable";

.left__drawer {
  width: 260px;
  position: fixed;
  top: 60px;
  z-index: 10000;
  height: calc(100vh - 60px);
  padding: 1rem 0;
  box-shadow: 5px 1px 20px #e0e0e0;
  overflow-y: scroll;
  overflow-x: hidden;

  &__group__item {
    padding: 0.7rem 2rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    cursor: pointer;

    &:hover {
      background: #f5f5f5;
    }
    &--active {
      color: $color-main;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.icon {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &--monitoring {
    background-image: url("../../assets/images/icon-monitoring.svg");
  }

  &--deploy {
    background-image: url("../../assets/images/icon-deploy.png");
  }

  &--upload {
    background-image: url("../../assets/images/icon-upload.svg");
  }

  &--active {
    &--monitoring {
      background-image: url("../../assets/images/icon-monitoring_active.svg");
    }

    &--deploy {
      // background-image: url("../../assets/images/icon-deploy_active.png");
    }

    &--upload {
      background-image: url("../../assets/images/icon-upload_active.svg");
    }
  }
}
