.title-name {
  // text-align: center;
  // padding: 50px 0 0px 0;
  // background: #fff;
  margin-bottom: 20px;

  & h2 {
    margin: 0 auto;
    // font-size: 1.5rem;
    // word-spacing: 9px;
    padding: 0 30px 20px;
    border-bottom: 2px solid #cdcdcd;
    font-weight: bold;
  }
}
