.deploy-group {
    margin-bottom: 50px;

    &__list {
        width: 60%;
        flex-grow: 0;
        flex-basis: auto;
        margin: 12px auto;

        &__form {
            .tab-group {
                // list-style: none;
                // padding: 0;
                // margin: 0 0 40px 0;
            }
            .tab-group:after {
                content: "";
                display: table;
                clear: both;
            }
            .tab-group li a {
                display: block;
                text-decoration: none;
                padding: 15px;
                background: rgba(160, 179, 176, 0.25);
                color: #a0b3b0;
                font-size: 20px;
                float: left;
                width: 50%;
                text-align: center;
                cursor: pointer;
                -webkit-transition: 0.5s ease;
                transition: 0.5s ease;
            }
            .tab-group li a:hover {
                background: #8ddcdb;
                color: #ffffff;
            }
            .tab-group .active a {
                background: #61c0bf;
                color: #ffffff;
            }
        }

        &__info {
            background: #fafbfd;

            .d-table-cell {
                border: none;
            }
            ul {
                padding: 10px 0;

                li {
                    padding: 10px 0;
                }
            }
        }
    }
    &__strategy {
    }
}

.drawer-bottom {
    background: #fff;
    width: calc(100vw - 60px);
    position: fixed;
    left: 0px;
    bottom: 0;
    left: 60px;
    /* width: 100vw; */
    height: 70px;
    /* z-index: 1000000000; */
    transition: bottom 0.5s ease;
    /* height: 0px; */
    /* bottom: -70px; */
    box-shadow: 0px -2px 2px -1px rgba(152, 162, 179, 0.3);
    display: flex;
    align-items: center;
    padding: 0 25px;
}

// ***** form style Start *****
.form-group {
    margin: 20px 35px;
}

label {
    margin-bottom: 0;
    font-size: 1.4rem;
    padding: 0px 10px 0 0;
}

input[type="text"] {
    width: 250px;
    height: 30px;
    padding: 0 8px;
    border: 1px solid #7c7f7f;
    border-radius: 3px;
    letter-spacing: 2px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    padding: 10px;
    resize: both;
}

.radio--container,
.input--container,
.checkbox--container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    margin-right: 20px;
}

.radio--container,
.checkbox--container {
    padding-left: 35px;

    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    & input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .checkmark {
            background-color: #14cdef;

            &:after {
                display: block;
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        transition: all .5s ease;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }
}

.radio--container {
    & .checkmark {
        border-radius: 50%;

        &:after {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
            top: 6px;
            left: 6px;
        }
    }
}

.checkbox--container {
    & .checkmark:after {
        left: 7px;
        top: 3px;
        width: 7px;
        height: 11px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

// ***** form style End *****
