.deploy-group {
    margin-bottom: 50px;

    &__list {
        width: 60%;
        flex-grow: 0;
        flex-basis: auto;
        margin: 12px auto;

        &__form {
            .tab-group:after {
                content: "";
                display: table;
                clear: both;
            }

            .tab-group li a {
                display: block;
                text-decoration: none;
                padding: 15px;
                background: rgba(160, 179, 176, 0.25);
                color: #a0b3b0;
                font-size: 20px;
                float: left;
                width: 50%;
                text-align: center;
                cursor: pointer;
                -webkit-transition: 0.2s ease;
                transition: 0.2s ease;
            }

            .tab-group li a:hover {
                background: #8ddcdb;
                color: #ffffff;
            }

            .tab-group .active a {
                background: #61c0bf;
                color: #ffffff;
            }
        }

        &__info {
            background: #fafbfd;

            .d-table-cell {
                border: none;
            }

            ul {
                padding: 10px 0;

                li {
                    padding: 10px 0;
                }
            }
        }
    }

    &__strategy {}
}

.drawer-bottom {
    background: #fff;
    width: calc(100vw - 60px);
    position: fixed;
    bottom: -70px;
    left: 60px;
    height: 70px;
    transition: bottom 0.2s ease;
    box-shadow: 0px -2px 2px -1px rgba(152, 162, 179, 0.3);
    display: flex;
    align-items: center;
    padding: 0 25px;

    &.active {
        bottom: 0px;
    }
}