@import "../../assets/styles/variable";

.header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 60px;
  padding: 0 3rem;
  background-color: $color-white;
  background: $color-main;
  //   border-bottom: 2px solid #c7c4c4;
  //   box-shadow: 5px 1px 20px #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__projname {
    font-weight: bolder;
    padding: 0.3rem;
    color: $color-white;

    & h1 {
      text-shadow: -1px -1px $color-white, 1px 1px #333;
    }
  }

  &__user {
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid $color-white;
    border-radius: 50%;
  }
}
